.ContainerCont{
    display: grid;
    grid-template-rows: 10% 75% 15%;
    overflow: hidden;
    background-color: #6d3704;
    .brand {
      border : 1px solid #ffffff39;
      padding : 2.2rem 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      img {
        height: 2rem;
      }
    }
    .contacts {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: auto;
      gap: 0.8rem;
      &::-webkit-scrollbar {
        width: 0.2rem;
        &-thumb {
          background-color: #ffffff39;
          width: 0.1rem;
          border-radius: 1rem;
        }
      }
      .contact {
       
        background-color: #6d3704;
        min-height: 5rem;
        cursor: pointer;
        width: 95%;
        border-radius: 0.2rem;
        padding: 0.4rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        transition: 0.5s ease-in-out;
        .avatar {
          img {
            height: 3rem;
          }
        }
        .username {
          h3 {
            color: white;
          }
        }
      }
      .selected {
        background-color: #ffffff34;
      }
    }
  
    .current-user {
      background-color: #4C311B;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      .avatar {
        display: flex;
        justify-content: center;
      align-items: center;
      gap: 1rem;
        img {
          height: 3rem;
          max-inline-size: 100%;
        }
      }
      .username {
        h2 {
          color: white;
        }
      }
    }
}